body {
  max-width: 100%;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

.topo {
  width: 100%;
  color: #ffffff;
  background-color: #cf2b2b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 92px;
  position: fixed;
  top: 0;
  padding: 13px 0 18px 21px;
  z-index: 10;
}

.topo h1 {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  margin-left: 21px;
  margin-bottom: 5px;
}

.topo p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-left: 21px;
}

h2 {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #333333;
}

.container {
  margin-top: 140px;
}

.container-produto {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}

.produto {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-left: 10px;
}

.titulo {
  margin-top: 30px;
}

img {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #333333;
  margin-left: 14px;
  margin-top: 10px;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #a6a6a6;
  margin-left: 14px;
  margin-top: 10px;
}

h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.check-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding: 10px;
}

.check {
  width: 18px;
  color: #32b72f;
  display: none;
}

.card-opcao {
  border: 4px solid white;
  border-radius: 10px;
}

.separador {
  height: 92px;
}

footer {
  width: 100%;
  height: 92px;
  margin-top: 16px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

footer button {
  width: 364px;
  height: 61px;
  left: 25px;
  bottom: 16px;

  background: #cbcbcb;
  border-radius: 50px;
}

span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;

  color: #ffffff;
}